/* .shard-h {
  
} */

.shard-h-1 {
	font-size: 6rem;
}

.shard-h-2 {
	font-size: 5rem;
}

.shard-h-3 {
	font-size: 4rem;
}

.shard-h-4 {
	font-size: 3rem;
}

.shard-h-5 {
	font-size: 2rem;
}

.shard-h-6 {
	font-size: 1rem;
}
